<body>


<section class="rules contact">

<h2>Email:</h2>
<p>
  something@fake.com
</p>
<h2>Address</h2>
<p>
  123 fake street, provo, UT, 84601
</p>
<form action="mailto:nowhere@mozilla.org">
    <button class="button" type="submit">Send us an email</button>
</form>
<!-- <a href="mailto:myaccount@mydomain.com">Send Me Email</a> -->
<!-- <button type="button" class="button" href="mailto:myaccount@mydomain.com">send us an email</button>
<button href="mailto:nowhere@mozilla.org">Send email to nowhere</button> -->
</section>
</body>
