<!-- home! -->
<h1>Games</h1>
<!-- <audio controls autoplay class="hidden">
<source src="img/woo_vu_luvub_dub_dub.wav" type="audio/wav">
</audio> -->
<!-- <h4>Tic Tac Toe</h4> -->
<section class="game-container ticTac" hover-show>
  <!-- <h4>Tic Tac Toe</h4> -->
<section class="hide">
  <img class="ttt-img " src="img/tic_tac_toe__by_junguler-d8w3fzo.gif" alt="tic tac toe" />
  <button class="button discripButton" autofocus=""ui-sref="tictactoe({id: 'TicTacToe'})">Click Here to Play</button>
</section>
</section>

<section hover-show class="game-container eightball">
  <section class="hide">
    <img class="ttt-img " src="img/magic8ballweb.gif" alt="tic tac toe" />
    <button class="button discripButton" autofocus=""ui-sref="eightballHome({id: 'Magic Eightball'})">Click Here to Play</button>
  </section>
</section>
</section>

<section hover-show class="game-container roulette">

  <section class="hide">
    <img class="ttt-img " src="img/russianRoulette.gif" alt="tic tac toe" />
    <button class="button discripButton" autofocus=""ui-sref="roulette({id: 'Russian Roulette'})">Click Here to Play</button>
  </section>
</section>

<section hover-show class="game-container callIt">

  <section class="hide">
    <img class="ttt-img " src="img/coinFlipping.gif" alt="tic tac toe" />
    <button class="button discripButton" autofocus=""ui-sref="flipping({id: 'CoinToss'})">Click Here to Play</button>
  </section>
</section>



<section hover-show class="game-container sodoku">
  <section class="hide">
    <img class="ttt-img " src="img/Sudoku.gif" alt="tic tac toe" />
    <button class="button discripButton" autofocus=""ui-sref="sudoku({id: 'Sudoku'})">Click Here to Play</button>
  </section>
</section>

<section hover-show class="game-container roy">
  <section class="hide">
    <img src="img/roy.jpg" alt="tic tac toe" />

  </section>
</section>
</section>
